<div class="container">
    <div class="form-container">
        <div class="title">Login</div>
        <form>
            <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Password</mat-label>
                <input type="password" matInput>
            </mat-form-field>
        </form>
        <div class="buttons-container">
            <button mat-raised-button class="login-button">Login</button>
            OR
            <button mat-raised-button>Create Account</button>
        </div>
    </div>
</div>
